/* for NAVBAR */
.navbar-brand > img {
  height: 40px;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  font-size: 20px;
}

/* for PROFILE */
.my-icon {
  height: 200px;
  border-radius: 50%;
}

/* for WORKS */
.works-content .card {
  width: 16rem;
}

.picshare-img {
  padding: 5%;
}

/* for CONTACT */
.contact-list img {
  width: 30px;
}

.contact-list li {
  display: inline;
  padding-right: 30px;
}
